In [44]:
from matplotlib.backends.backend_pdf import PdfPages
import sys
import matplotlib.pyplot as plt
import csv

In [46]:
N = input("") 
C = input("") 
D = input("") 
x = []
y = []

 e
 r
 t

In [47]:
with open('U.csv','r') as csvfile:
    plots = csv.reader(csvfile, delimiter = ',')
      
    for row in plots:
        printx.append(row[0])

IndexError: list index out of range

In [42]:
df

          Name  \tAge\tMarks
Adarsh\t    20            40
Bajai\t     30            60

In [43]:
plt.rcParams["figure.figsize"] = [7.50, 3.50]
plt.rcParams["figure.autolayout"] = True

Name\tAge\tMarks    40
Name: (adarsh\t, 20), dtype: int64

Int64Index([40], dtype='int64', name=('adarsh\t', 20))

('adarsh\t', 20)  60
bajpai\t 30       60

Empty DataFrame
Columns: [40]
Index: []